# :file: .travis.yml
#
# :url:  https://travis-ci.org/prjemian/pyRestTable
#
# for advice, see:
#  https://docs.travis-ci.com/user/customizing-the-build#The-Build-Lifecycle

dist: xenial   # required for Python >= 3.7
language: python
sudo: false
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"

install:
  - pip install -r requirements.txt

# command to run tests
script:
  - which coverage
  # all coverage options are given in setup.cfg, [coverage:run]
  - coverage run ./run_tests.py

after_success:
  - coverage report
  - which coveralls
  - coveralls
